@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&family=Sigmar&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    background: #212A3E;
}

nav {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px 0;
}

.nav__logo {
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    color: #fff;
}

.nav__links {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 10px; */
}

.nav__links a {
    text-decoration: none;
    font-size: 18px;
    margin: 0 20px;
    color: #fff;
}

.nav__links a:hover {
    background-color: aquamarine;
    color: #fff;
}

.nav__menu__icon {
    display: none;
    margin-top: 28px;
}

.nav__menu__icon img {
    width: 30px;
}

.nav__links a {
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}




.hero {
    height: 100%;
    width: 100%;
    background: linear-gradient(160deg, #7A86B6, #7A86B6 60%, white 60%, white);
}

.intro_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.intro_container img {
    width: 38%;
    margin-top: 2%;
    margin-right: 5%;
}

.intro_info {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10% auto;
}

.intro_info h3 {
    color: #fff;
    /* margin-top: -200px; */
    font-size: 78px;
}

.intro_info h5 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 8%;
}

.intro_info p {
    color: #111;
    font-weight: 800;
    font-size: 25px;
}

.intro__detail {
    display: flex;
}

.intro__detail span {
    color: #E8F6EF;
}

.intro__detail h4 {
    color: #212A3E;
    font-size: 15px;
}

.intro__detail h4 {
    margin: 20px;
}

/* Footer Section */

footer {
    height: 380px;
    background-color: #2C3333;
}

.footer-container {
    width: 70%;
    margin: 0 auto;
    padding: 50px 0;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.footer-container h1,
p {
    color: #fff;
}

.footer-container h1 {
    font-size: 20px;
    font-weight: 500;

}

.footer-container p {
    padding-top: 20px;
    font-size: 13px;

}

hr {
    width: 80%;
    margin: 0 auto;
    opacity: 0.3;
}

.about-content {
    width: 70%;
    margin: 0 auto;
}

#aboutme {
    background-color: #F1F6F9;
    width: 100%;
}

.aboutme-container {
    width: 80%;
    margin: 0 auto;
    padding: 70px 0;
}

.colom-one {
    padding: 0 5%;
}

.aboutme-container h1 {
    font-size: 40px;
    font-weight: 900;
    padding-bottom: 10px;
}

.aboutme-container h3 {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 40px;
}

.aboutme-container p {
    line-height: 30px;
    color: #111;
}

.social-logo {
    padding-top: 30px;
    width: 5%;
}

.socials a {
    padding: 5px;
}

li span {
    font-size: 15px;
    font-weight: 700;
}

.colom-two {
    padding-left: 10%;
    padding-top: 5%;
}

.colom-two ul {
    padding-top: 30px;
}

.colom-two ul li {
    padding: 15px;
}

.footer-copyright {
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}

.footer-copyright p {
    font-size: 13px;
    opacity: 0.5;
    letter-spacing: 3px;
    padding-top: 20px;
}

#education {
    width: 100%;
    background-color: #2C3333;
    color: #fff;
}

.education__detail {
    width: 80%;
    margin: 0 auto;
    padding: 70px 0;
}

.education__detail table {
    margin: 0 auto;
}

.education__detail h1 {
    text-align: center;
    margin-bottom: 40px;
}

.education__detail td {
    padding: 20px 50px;
}

@media screen and (max-width: 1350px) {

    .intro_container img {
        width: 30%;
        margin: 0 auto;
    }

    .aboutme-container {
        width: 90%;
        margin: 0 auto;
        padding: 70px 0;
    }

    .colom-one {
        padding: 0 2%;
    }


}

@media screen and (max-width: 820px) {
    .nav__menu__icon {
        display: block;
    }

    .nav__links {
        display: none;
    }

    .nav__mobile {
        position: relative;
        float: none;
        display: block;
        margin-top: 40px;
        background-color: #394867;
        z-index: 2;
    }

    .nav__mobile a {
        float: none;
        display: block;
        text-align: left;
    }

    .nav__menu__icon {
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 20px;
    }

    .intro_info h3 {
        margin-top: 10px;
        font-size: 20px;
    }

    .intro_container img {
        width: 30%;
        margin: 0 auto;
    }

    .intro_info h5 {
        font-size: 10px;
    }

    .intro__detail {
        display: flex;
    }

    .intro__detail span {
        color: #E8F6EF;
    }

    .intro__detail h4 {
        margin: 10px;
        font-size: 10px;
    }

    .intro_info p {
        font-weight: 800;
        font-size: 10px;
    }

    .intro_info h5 {
        color: #fff;
        margin-bottom: 2%;
    }

    .aboutme-container {
        width: 100%;
        margin: 0 auto;
        padding: 70px 0;
    }

    .education__detail td {
        padding: 20px 0;
    }
}